@font-face {
	font-family : 'Noto Sans KR';
	font-style : normal;
	font-weight : 100;
	src : url('../../font/NotoSansKR-Thin.eot');
	src : url('../../font/NotoSansKR-Thin.eot?#iefix') format('embedded-opentype'),
		  url('../../font/NotoSansKR-Thin.woff2') format('woff2'),
		  url('../../font/NotoSansKR-Thin.woff') format('woff'),
		  url('../../font/NotoSansKR-Thin.otf') format('opentype'),
		  url('../../font/NotoSansKR-Thin.ttf') format('truetype'),
		  url('../../font/NotoSansKR-Thin.svg#NotoSansKR') format('svg');
}

@font-face {
	font-family : 'Noto Sans KR';
	font-style : normal;
	font-weight : 300;
	src : url('../../font/NotoSansKR-Light.eot');
	src : url('../../font/NotoSansKR-Light.eot?#iefix') format('embedded-opentype'),
		  url('../../font/NotoSansKR-Light.woff2') format('woff2'),
		  url('../../font/NotoSansKR-Light.woff') format('woff'),
		  url('../../font/NotoSansKR-Light.otf') format('opentype'),
		  url('../../font/NotoSansKR-Light.ttf') format('truetype'),
		  url('../../font/NotoSansKR-Light.svg#NotoSansKR') format('svg');
}

@font-face {
	font-family : 'Noto Sans KR';
	font-style : normal;
	font-weight : 400;
	src : url('../../font/NotoSansKR-Regular.eot');
	src : url('../../font/NotoSansKR-Regular.eot?#iefix') format('embedded-opentype'),
		  url('../../font/NotoSansKR-Regular.woff2') format('woff2'),
		  url('../../font/NotoSansKR-Regular.woff') format('woff'),
		  url('../../font/NotoSansKR-Regular.otf') format('opentype'),
		  url('../../font/NotoSansKR-Regular.ttf') format('truetype'),
		  url('../../font/NotoSansKR-Regular.svg#NotoSansKR') format('svg');
}

@font-face {
	font-family : 'Noto Sans KR';
	font-style : normal;
	font-weight : 500;
	src : url('../../font/NotoSansKR-Medium.eot');
	src : url('../../font/NotoSansKR-Medium.eot?#iefix') format('embedded-opentype'),
		  url('../../font/NotoSansKR-Medium.woff2') format('woff2'),
		  url('../../font/NotoSansKR-Medium.woff') format('woff'),
		  url('../../font/NotoSansKR-Medium.otf') format('opentype'),
		  url('../../font/NotoSansKR-Medium.ttf') format('truetype'),
		  url('../../font/NotoSansKR-Medium.svg#NotoSansKR') format('svg');
}

@font-face {
	font-family : 'Noto Sans KR';
	font-style : normal;
	font-weight : 700;
	src : url('../../font/NotoSansKR-Bold.eot');
	src : url('../../font/NotoSansKR-Bold.eot?#iefix') format('embedded-opentype'),
		  url('../../font/NotoSansKR-Bold.woff2') format('woff2'),
		  url('../../font/NotoSansKR-Bold.woff') format('woff'),
		  url('../../font/NotoSansKR-Bold.otf') format('opentype'),
		  url('../../font/NotoSansKR-Bold.ttf') format('truetype'),
		  url('../../font/NotoSansKR-Bold.svg#NotoSansKR') format('svg');
}

@font-face {
	font-family : 'Noto Sans KR';
	font-style : normal;
	font-weight : 900;
	src : url('../../font/NotoSansKR-Black.eot');
	src : url('../../font/NotoSansKR-Black.eot?#iefix') format('embedded-opentype'),
		  url('../../font/NotoSansKR-Black.woff2') format('woff2'),
		  url('../../font/NotoSansKR-Black.woff') format('woff'),
		  url('../../font/NotoSansKR-Black.otf') format('opentype'),
		  url('../../font/NotoSansKR-Black.ttf') format('truetype'),
		  url('../../font/NotoSansKR-Black.svg#NotoSansKR') format('svg');
}